<div>
    <h4>Pago exitoso</h4>
    <p>Payment id: {{collection_id}}</p>
    <p>Email comprador: {{external_reference}}</p>
    <p>Tipo de pago: {{preference_id}}</p>
</div>
<script src="https://www.mercadopago.com/v2/security.js" view="home"></script>